<div>
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Location</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.location}}</td>
        <td><button class="btn btn-primary" (click)="deleteUser(user)" style="margin:5px">Delete</button>
        <button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <td><button class="btn btn-primary" (click)="newUser()">Add Here</button></td>
</div>